:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --navbar-height: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

.navbar {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.container {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.message-container {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: end;
}

.user-message {
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}
