:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --sidebar-width: 284px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

#widget-preview-window {
  background: transparent;
}

.container {
  background-color: var(--colorNeutralBackground2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  --toolbar-height: 40px;
}
.layout {
  display: flex;
  height: calc(100vh - var(--toolbar-height));
}
.react-resizable-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0.75;
  border-radius: 4px;
}
.react-resizable-handle-se {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}
.dropable-container-hover {
  &:hover {
    outline: 2px solid var(--colorNeutralForeground2BrandHover) !important;
  }
}
.selected-element-info {
  position: absolute;
  left: -1px;
  top: -1px;
  transform: translateY(-100%);
  background: var(--colorBrandBackground);
  padding: 3px 7px;
  color: var(--colorNeutralForegroundOnBrand);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: none;
  text-align: left;
}
.selected-element-info > span {
  white-space: nowrap;
}

.fontpicker {
  border: 1px solid var(--colorNeutralStroke1) !important;
  border-radius: var(--borderRadiusMedium);
}
.fontpicker,
.fontpicker__search,
.fontpicker__popout {
  background-color: var(--colorNeutralBackground1) !important;
}
.fontpicker__search:focus {
  border: none !important;
  border-radius: var(--borderRadiusMedium) !important;
}

.drop-zone {
  position: absolute;
  pointer-events: none;
  display: inline-flex;
  transition: all 400ms;
  border-radius: 9999px;
}
.drop-zone-layer {
  pointer-events: none;
  transition: all 400ms;
  border-radius: 9999px;
  z-index: 10;
  width: 100%;
}
