:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --sidebar-width: 284px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

#widget-preview-window {
  background: transparent;
}

.container {
  background-color: var(--colorNeutralBackground2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  --toolbar-height: 40px;
}
.layout {
  display: flex;
  height: calc(100vh - var(--toolbar-height));
}
.react-resizable-handle {
  position: absolute;
  opacity: 0.75;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9Im5vbmUiPgogIDxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMjEyXzIpIj4KICAgIDxwYXRoIGQ9Ik03Ljg3NSAwLjEyNVY3Ljg3NUgwLjEyNVY1LjcyNDYxSDUuNzI0NjFWMC4xMjVINy44NzVaIiBmaWxsPSIjRUVFRUVFIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjAuMjUiPjwvcGF0aD4KICA8L2c+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAwXzEyMTJfMiI+CiAgICAgIDxyZWN0IHdpZHRoPSI4IiBoZWlnaHQ9IjgiIGZpbGw9IndoaXRlIj48L3JlY3Q+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+Cg==);
}
.react-resizable-handle-se {
  bottom: -7px;
  right: -7px;
}
.react-resizable-handle-e {
  transform: rotate(90deg);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIzIiB2aWV3Qm94PSIwIDAgMTAgMyIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTkuODc1IDAuMTI1VjIuODc1SDAuMTI1VjAuMTI1SDkuODc1WiIgZmlsbD0iI0VFRUVFRSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjI1Ij48L3BhdGg+Cjwvc3ZnPgo=);
  right: -20px;
}
.react-resizable-handle-s {
  transform: rotate(0deg);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIzIiB2aWV3Qm94PSIwIDAgMTAgMyIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTkuODc1IDAuMTI1VjIuODc1SDAuMTI1VjAuMTI1SDkuODc1WiIgZmlsbD0iI0VFRUVFRSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjI1Ij48L3BhdGg+Cjwvc3ZnPgo=);
  bottom: -8px;
}
.dropable-container-hover {
  &:hover {
    outline: 2px solid var(--colorNeutralForeground2BrandHover) !important;
  }
}
.selected-element-info {
  position: absolute;
  left: -1px;
  top: -1px;
  transform: translateY(-100%);
  background: var(--colorBrandBackground);
  padding: 3px 7px;
  color: var(--colorNeutralForegroundOnBrand);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: none;
  text-align: left;
}
.selected-element-info > span {
  white-space: nowrap;
}

.fontpicker {
  border: 1px solid var(--colorNeutralStroke1) !important;
  border-radius: var(--borderRadiusMedium);
}
.fontpicker,
.fontpicker__search,
.fontpicker__popout {
  background-color: var(--colorNeutralBackground1) !important;
}
.fontpicker__search:focus {
  border: none !important;
  border-radius: var(--borderRadiusMedium) !important;
}

.drop-zone {
  position: absolute;
  pointer-events: none;
  display: inline-flex;
  transition: all 400ms;
  border-radius: 9999px;
}
.drop-zone-layer {
  pointer-events: none;
  transition: all 400ms;
  border-radius: 9999px;
  z-index: 10;
  width: 100%;
}
